name: umusicv2
description: An Experimental Music Player Build using Flutter. Srilal S. Siriwardhane

version: 5.0.1+6

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  get: ^4.1.4
  path_provider: ^2.0.2
  flutter_audio_query: ^0.3.5+6
  http: ^0.13.3
  shared_preferences: ^2.0.6
  assets_audio_player: ^3.0.3+3
  move_to_background: ^1.0.2
  permission_handler: ^8.1.0
  string_similarity: ^2.0.0

  hive: ^2.0.4
  hive_flutter: ^1.0.0

dev_dependencies:
  hive_generator: ^1.1.0
  flutter_native_splash: ^1.2.0
  #flutter_launcher_icons: ^0.9.0
  build_runner: ^2.0.4
  flutter_test:
    sdk: flutter



flutter:


  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
